<% const pageData = {
	path: "about/",
	dir: "../",
	title: "ABOUT",
	description: "",//optional
	ogimage: "",//optional
	keywords:""//optional
};
const breadCrumbs = [
	{
		path: pageData.dir + pageData.path,
		title:pageData.title
	}
];

 %>
<!DOCTYPE html>
<html lang="ja">
<%- include(  '../../components/common/_head',{pageData: pageData}); %>
<body>
<%- include(  '../../components/common/_header',{pageData: pageData}); %>
<%- include(  '../../components/common/_breadcrumbs',{pageData: pageData,breadCrumbs:breadCrumbs}); %>

<main role="main" class="l-main">

	<h2 class="c-heading--primary">
		<%= pageData.title %>
	</h2>

</main>
<%- include( '../../components/common/_footer',{pageData: pageData}); %>
</body>
</html>
