<%
// デフォルトを設定 - env.jsonとマージ
const utils = include( './_utils',{pageData: pageData}); 
const rootUrl = utils.getRootUrl();
const title = utils.getTitle();
const currentUrl = utils.getCurrentUrl();
const ogimage =  rootUrl + (pageData.ogimage || ASSETS_PATH + "images/ogp.png");
const keywords = pageData.keywords || KEYWORDS;
const description = pageData.description || DESCRIPTION;
%><head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="UTF-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<meta name="keywords" content="<%= keywords %>">
<meta name="description" content="<%= description %>">
<meta property="og:title" content="<%= title %>">
<meta property="og:type" content="article">
<meta property="og:url" content="<%= currentUrl %>">
<meta property="og:image" content="<%= ogimage %>">
<meta property="og:site_name" content="<%= SITE_NAME %>">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= title %>">
<link rel="canonical" href="<%= currentUrl; %>">
<link rel="stylesheet" href="<%= pageData.dir + ASSETS_PATH %>css/style.css?v=<%= Date.now() %>">
<script type="text/javascript" src="<%= pageData.dir + ASSETS_PATH %>js/main.js?v=<%= Date.now() %>" defer></script>
</head>
