<% const pageData = {
	path: "",
	dir: "./",
	title: "",
	description: "",//optional
	ogimage: "",//optional
	keywords:""//optional
};
const breadCrumbs = [];

 %>
<!DOCTYPE html>
<html lang="<%= LANG %>">
<%- include(  '../components/common/_head',{pageData: pageData}); %>
<body>
<%- include(  '../components/common/_header',{pageData: pageData}); %>
<main role="main" class="l-main">
    <div class="p-hero u-content--sm">
        <img src="<%= pageData.dir %>assets/images/hero.jpg" alt="">
    </div>
</main>
<%- include(  '../components/common/_footer',{pageData: pageData}); %>
</body>
</html>
